.movieRow {
    margin-bottom: 30px;
}

.movieRow h2 {
    margin: 0px 0px 0px 30px;
}

.movieRow-list-area {
    overflow-x: hidden;
    padding-left: 30px;
}

.movieRow-list {
    width: 99999px;
}

.movieRow-item {
    display: inline-block;
    width: 200px;
    cursor: pointer;
}

.movieRow-item img {
    width: 100%;
    transform: scale(0.9);
    transition: transform 0.5s;
    border-radius: 5px;
}

.movieRow-item img:hover {
    transform: scale(1);
}

.lists {
    margin-top: -200px;
}
